* {
    padding: 0px;
    margin: 0px;
}

.screen {
   
    width: 1200px;
    height: 600px;
    border: black 1px solid;
    background-color: darkgray;
}


#witch {
    
    height: 150px;
    width: 50px;
    top: 450px;
    left: 50px;
    position: relative;
    background-color: grey;
}

.witchStill {
    background-color: mediumpurple!important;
}

.witchOrange {
    background-color: #FFB946!important;
}

.witchGreen {
    background-color: #80FF80!important;
}

.witchPurple {
    background-color: #A25DFF!important;
}

.witchMagenta {
    background-color: magenta!important;
}
 
.witchYellow {
    background-color: yellow!important;
}

.witchCyan {
    background-color: cyan!important;
}

.animate{
    animation: jump 0.5s linear;
}

@keyframes jump{
    0%{top: 450px;}
    30%{top: 300px;}
    70%{top: 300px;}
    100%{top: 450px;}
}

#monster {
    background-color: magenta;
    height: 50px;
    width: 50px;
    top: 400px;
    left: 1150px;
    position: relative;
    animation: monster 2s infinite linear;

}

@keyframes monster{
    0%{left: 1150px;}
    100%{left: -50px;}
}
