* {
    padding: 0px;
    margin: 0px;
    background-color: #191947;
    font-family: 'VT323', monospace;
}

.game-header > *{
    color: white;
}

p {
    color: white;
    font-size: 20px;
}

.score {
    color: white;
    font-size: 20px;
     background-color: #393f6d;
     padding: 5px;
     font-size: 35px;

}

#scoreSpan {
     background-color: #393f6d;
}

h1 {
    font-size: 75px;
    font-weight: 600;
    /* color: cyan; */
    text-align: center;
    background: -webkit-linear-gradient(#092973, #42e3f5);
    /* -webkit-text-stroke: 0.01px #66ffff; */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#screen {
    display: none;
    margin: auto;
    width: 1200px;
    height: 500px;
    border: #74b5f0 2px solid;
    background-color: #393f6d;
    overflow: hidden;
}

#about-me-links {
    /* display: block; */
    margin: auto;
    width: 1200px;
    height: 50px;
        display: flex;
    /* // display: block;
    // direction: rtl; */
    align-items: center;
    align-content: center;
    justify-content: flex-end;
}

#about-music-links {
    margin: auto;
    padding-left: 10%;
}

#about-music-links > * {
   color: #757ac9;


}

.witch-aboutme-footer > a {
    margin: 10px;
}

.witch-aboutme-footer > * {
   color: #757ac9;
}

.witch-aboutme-footer > *:hover {
   color: #c5c9fa;
}

#info-screen {
    display: block;
    margin: auto;
    width: 1200px;
    height: 500px;
    border: #74b5f0 2px solid;
    background-color: #2A2E5C;
    overflow: hidden;

}

.instructions-info{
    font-size: 25px;
    padding: 5px;
    color: white;
    text-align: center;
}

.instructions-info-music {
    font-size: 25px;
    padding: 7px 5px 0px;
    color: white;
    text-align: center;

}

.gameover-info{
    font-size: 40px;
    padding: 10px;
    /* margin: 5px; */
    color: white;
    text-align: center;
}

.gameover-padding {
    height: 40px;
}

.instructButton-info {
    padding: 7px;
    text-align: center;
    /* background-color: #2A2E5C; */
}


#gameover-screen {
    /* display: block; */
    /* margin-top: 50px; */
    display: none;
    
    margin: auto;
    width: 1200px;
    height: 500px;
    border: #74b5f0 2px solid;
    /* background-color: #393f6d; */
    background-color: #2A2E5C;
    overflow: hidden;

}

#witch {
    height: 100px;
    width: 50px;
    top: 355px;
    left: 50px;
    padding: 0px;
    margin: 0px;
    position: relative;
    background-color:rgba(173, 168, 173, 0);
}

#start-screen-witch {
    margin: 15px;
    height: 240px;
    width: 120px;
    padding-left: 500px;
    padding-right: 500px;

    /* position: relative; */
    /* background-color:rgba(173, 168, 173, 0); */
    /* background-color: #393f6d; */
    background-color: #2A2E5C;
    border: 1px transparent solid;
}

#gameover-screen-witch {
    padding-top: 15px;
    padding-bottom: 15px;

    height: 240px;
    width: 120px;
    padding-left: 550px;
    padding-right: 600px;
    background-color: #2A2E5C;
    border: 1px transparent solid;
    -webkit-filter: grayscale(100%);
  filter: grayscale(50%);
}


.witchOrange {
    background-color: #FFB946!important;
}

.witchGreen {
    background-color: #80FF80!important;
}

.witchPurple {
    background-color: #A25DFF!important;
}

.witchMagenta {
    background-color: magenta!important;
}
 
.witchYellow {
    background-color: yellow!important;
}

.witchCyan {
    background-color: cyan!important;
}

.witchGrey {
    background-color: 	rgb(128,128,128)!important;
}

.witchBlack {
    background-color: black!important;
}

.animate{
    animation: jump 0.5s linear;
}

@keyframes jump{
    0%{top: 355px;}
    30%{top: 200px;}
    70%{top: 200px;}
    100%{top: 355px;}
}

#monster {
    background-color:rgba(173, 168, 173, 0);
    height: 50px;
    width: 50px;
    top: 355px;
    left: 1150px;
    position: relative;
    animation: monster 1.5s infinite linear;

}

@keyframes monster{
    0%{
        left: 1150px;
    }
    100%{
        left: 0px;
    }
}

.monsterMagenta {
    background-color: magenta!important;
}
 
.monsterYellow {
    background-color: yellow!important;
}

.monsterCyan {
    background-color: cyan!important;
}

.monsterOrange {
    background-color: #FFB946!important;
}

.monsterGreen {
    background-color: #80FF80!important;
}

.monsterPurple {
    background-color: #A25DFF!important;
}

.monsterGrey {
    background-color: 	rgb(128,128,128)!important;
}

.monsterBlack {
    background-color: black!important;
}


.instructionDiv {
  
 
}

.instructions {
    font-size: 25px;;
    padding: 5px;
    color: white;
    text-align: center;
}

.instructButton {
    padding: 7px;
    text-align: center;
}

.monMagenta {
    background-color: magenta!important;
    font-size: 20px;
   border: white 2px solid;
   padding: 5px;
   color: #191947;
}

.monYellow {
    background-color: yellow!important;
    font-size: 20px;
     border: white 2px solid;
   padding: 5px;
   color: #191947;

}

.monCyan{
    background-color: cyan!important;
    font-size: 20px;
     border: white 2px solid;
   padding: 5px;
   color: #191947;

}

.monOrange{
    background-color: #FFB946!important;
    font-size: 20px;
     border: white 2px solid;
   padding: 5px;
   color: #191947;

}

.monGreen {
    background-color: #80FF80!important;
    font-size: 20px;
     border: white 2px solid;
   padding: 5px;
   color: #191947;

}

.monPurple {
     background-color: #A25DFF!important;
    font-size: 20px;
     border: white 2px solid;
   padding: 5px;
   color: #191947;

}

.monGrey {
        background-color: 	rgb(128,128,128)!important;
    font-size: 20px;
     border: white 2px solid;
   padding: 5px;
     color: white;


}

.monBlack {
        background-color: black!important;
    font-size: 20px;
     border: white 2px solid;
   padding: 5px;
   color: white;
    
}
